<div class="container" fxLayout="column wrap" fxLayoutAlign="start center">
  <h1>Regions of Uganda</h1>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <div class="card-container" fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card *ngFor="let region of regions">
      <div class="top" fxLayoutAlign="center center">
        <h1>{{ region.name }}</h1>
      </div>
      <div class="info" fxLayout="row wrap" fxLayoutAlign="space-between">
        <p>
          Date issued: <i>{{ region.issueDate | date }}</i>
        </p>
        <p>
          Status:
          <i [ngStyle]="{ color: region.isActive ? 'green' : 'red' }">{{
            region.isActive ? "Active" : "Inactive"
          }}</i>
        </p>
      </div>
      <mat-expansion-panel *ngFor="let district of region.districts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ district.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ district.subCounties.length }}
            {{
              district.subCounties.length > 1 ? "Sub Counties" : "Sub County"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let subCounty of district.subCounties">
            {{ subCounty.name }}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>
